* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

/* POSICIONAMIENTO */
/* BODY */
/* NAV */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul{
        display: flex;

        li{
            padding: 20px 10px;
            border-left: 1px gray solid;
            border-right: 1px gray solid;
        }
    }
}

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header section {
    position: relative;
    height: 60px;
    overflow: hidden;
}

.cartelAnimado p {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 5s linear infinite;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Shift up half the height */
}
@keyframes scroll-left {
    0% {
        right: 0px;
    }
    100% {
        right: 100vw;
    }
}


/* MAIN */
/* FOOTER */


/*-------------------- ESTILOS --------------------*/
/* BODY */
/* NAV */
nav{
    background-color: black;
    color: white;

    li{
        list-style-type: none;
    }
    
    a{
        color: white;
        text-decoration: none;
    }
}
/* HEADER */
header {
    height: 100vh;
    background-image: url("resources/Headersection.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1{
        color: white;
        font-size: 102px;
    }

    section{
        background-color: blue;
        color: white;
    }
}
/* MAIN */
/* FOOTER */